{% layout "server/layouts/base.liquid" %}

{% block scripts %}
<script>window.pokemons = {{ pokemons | json }};</script>
{% endblock %}

{% block content %}
{% include "server/components/instellingen/instellingen.liquid" %}
{% include "server/components/username/username.liquid" %}


<div id="winner-container" style="display: none;">
<ul id="player-info" class="player-info">
  <li><img class="player-avatar" src="" alt="Speler afbeelding" /></li>
  <li><p class="player-name"></p></li>
  <li><p><span class="caught-count">0</span> / <span class="total-count">0</span></p></li>
  <li><p>Laatste streak: <span class="current-streak">0</span></p></li>
   <li><p>Beste streak: <span class="best-streak">0</span></p></li>
   <li><p>Fouten: <span class="wrong-count">0</span></p></li>
   <li><p>Begonnen op: <span class="account-created"></span></p></li>
</ul>
</div>

{% include "server/components/guesspokemon/guesspokemon.liquid" %}



<section class="pokedex">
  <p class="selected-generation"></p>
  <div class="pokedex-preview">
    <img id="pokedex-preview-img" src="" alt="Pokémon preview" style="display: none;"  loading="lazy" />
  </div>
  <div class="pokedex-filter-buttons">
    <button id="pokedex-filter-all" class="active">Alle Pokémon</button>
    <button id="pokedex-filter-guessed">Alleen geraden</button>
  </div>

  <div class="pokedex-container">
    <ul class="pokedex-list">
      {% for pokemon in pokemons %}
      <li class="pokedexPokemons" data-id="{{ pokemon.id }}">
        <ul class="pokeball index">
          <li class="pokeball-top"></li>
          <li class="pokeball-mid-top"></li>
          <li class="pokeball-mid-bottom"></li>
          <li class="pokeball-bottom"></li>
        </ul>
        <div class="container-name-types">
          <div class="pokedex-name">#{{ pokemon.id }} {{ pokemon.name }}</div>
          <div class="pokedex-types" data-id="{{ pokemon.id }}">
            {% for type in pokemon.types %}
            <span class="type {{ type }}">{{ type | capitalize }}</span>
            {% endfor %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>





{% endblock %}
